body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
  
.dashboard{
    font-family: Arial;
    margin-top: 50px;
    color: #808080;
        text-align: center;	
}
  
.dashboard span{
    font-size: 25px;
}
.dashboard .counters{
    margin-top: 50px;
   /* margin-bottom: 200px;*/
}
  
  
  .counter { background-color:  #f5f5f5; padding: 20px 0; border-radius: 5px;}
  .count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
  .count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
  .fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
  