<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../css/main.css" />
    <title>Online Market</title>
</head>
<body>
    <div class="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                   
                    <a href="/" class="navbar-brand">Online Market</a>
            </div>
            <div class="navbar-collapse collapse">
 				<ul class="nav navbar-nav">
                    <li><a href="/dashboard/addStore"  th:if="${type == 'storeOwner'}">Add Store</a></li>
                    <li><a href="/dashboard/addCollaborator"  th:if="${type == 'storeOwner'}">Add Collaborator</a></li>
               	</ul>
               	 <ul class="nav navbar-nav" style="float:right;"  th:if="${email == null}">
               	 	<li><a href="/login">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                 	<li><a href="/register">Registration <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span></a></li>
            	</ul>
            	<ul class="nav navbar-nav" style="float:right;"  th:if="${email != null}">
               	 	<li><a href="/" th:text="'Welcome ' + ${name}"></a></li>
               	 	<li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
            	</ul>
            </div>
        </div>
    </div>
</div>

    <div class="container body-content">
     <h2>Products Of Store</h2>
   <a class="btn btn-default" th:href="@{'/dashboard/add/'+${type}+'/' + ${storeId}}" role="button">Add Product</a>
	<br/>
	<br/>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
         <th>
            Brand
        </th>
        <th>
            Price
        </th>
        <th>
            Offer
        </th>
         <th>
            Quantity
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

	<tr th:each = "sproduct: ${products}">
        	<td th:text="${sproduct.product.name}"></td>
        	<td th:text="${sproduct.product.category}"></td>
        	<td th:text="${sproduct.brand.name}"></td>
      		<td th:text="${sproduct.price}"></td>
      		<td th:text="${sproduct.offer}"></td>
      		<td th:text="${sproduct.quantity}"></td>
     	   <td>
        	    <a class="btn btn-default" th:href="@{'/dashboard/edit/'+${type}+'/' + ${sproduct.product.id} + '/' + ${storeId}}" role="button">Edit</a>
        	    <a class="btn btn-default" th:href="@{'/dashboard/delete/'+${type}+'/' + ${sproduct.product.id} + '/' + ${storeId}}" role="button">Delete</a>
        	    <a class="btn btn-default" th:href="@{'/dashboard/offer/'+${type}+'/' + ${sproduct.product.id} + '/' + ${storeId}}" role="button">Add Offer</a>
        	    <a class="btn btn-default" th:href="@{'/dashboard/dOffer/'+${type}+'/' + ${sproduct.product.id} + '/' + ${storeId}}" role="button">Delete Offer</a>      	   
        	</td>
    </tr>   

</table>
                 
   <hr />
        <footer>
        <p>2018 - Online Market</p>
        </footer>
    </div>


	
	<script type="text/javascript"
		src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="/webjars/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript"
		src="/../js/main.js"></script>
	
</body>
</html>
