<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../css/main.css" />
    <title>Online Market</title>
</head>
<body ng-controller="myCtr">
    <div class="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                   
                    <a href="/" class="navbar-brand">Online Market</a>
            </div>
            <div class="navbar-collapse collapse">
               	<ul class="nav navbar-nav">
                    <li><a href="/addStore"  th:if="${type == 'storeOwner'}">Add Store</a></li>
               	</ul>
            	<ul class="nav navbar-nav" style="float:right;"  th:if="${email != null}">
               	 	<li><a href="/" th:text="'Welcome ' + ${name}"></a></li>
               	 	<li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
            	</ul>
            </div>
        </div>
    </div>
</div>

    <div class="container body-content" th:attr="ng-init='init('+${storeId}+')'" >
     <div class="dashboard">
	<h1 th:text="${storeName} + ' Statistics'"></h1>
	<hr />
	
	<div class="btn-group btn-group-justified" role="group" aria-label="..." ng-init="toggle1 = true;toggle2 = true;toggle3 = true;toggle4 = true">
  <div class="btn-group" role="group"  th:if="${statisticAdded1 != false}">
    <button type="button" class="btn btn-default" ng-class="{active:toggle1}" th:text="${statisticName1}" ng-click="toggle1=!toggle1"></button>
  </div>
  <div class="btn-group" role="group"  th:if="${statisticAdded2 != false}">
     <button type="button" class="btn btn-default" ng-class="{active:toggle2}" th:text="${statisticName2}" ng-click="toggle2=!toggle2"></button>
  </div>
  <div class="btn-group" role="group"  th:if="${statisticAdded3 != false}">
    <button type="button" class="btn btn-default" ng-class="{active:toggle3}" th:text="${statisticName3}" ng-click="toggle3=!toggle3"></button>
  </div>
   <div class="btn-group" role="group"  th:if="${statisticAdded4 != false}">
    <button type="button" class="btn btn-default" ng-class="{active:toggle4}" th:text="${statisticName4}" ng-click="toggle4=!toggle4"></button>
  </div>
</div>


<div class="row counters">

<div class="col-md-3" ng-show="toggle1" th:if="${statisticAdded1 != false}">
    <div class="counter">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <h2 class="count-title" >{{number}}</h2>
       <p class="count-text ">Product In Store</p>
    </div>
  </div>
  
    <div class="col-md-3" ng-show="toggle2" th:if="${statisticAdded2 != false}">
    <div class="counter">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <h2 class="count-title" >{{viewed}}</h2>
       <p class="count-text ">User Viewed Products</p>
    </div>
  </div>

  <div class="col-md-3" ng-show="toggle3" th:if="${statisticAdded3 != false}">
    <div class="counter">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      <h2 class="count-title">{{buyed}}</h2>
      <p class="count-text ">User Buyed Products</p>
    </div>
</div>

  <div class="col-md-3" ng-show="toggle4" th:if="${statisticAdded4 != false}">
    <div class="counter">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      <h4>Last 3 sold out products</h4>
      <ul>
      	<li ng-repeat="product in products">{{product}}</li>
      </ul>
    </div>
</div>

  
</div>

</div>
                 
   <hr />
        <footer>
        <p>2018 - Online Market</p>
        </footer>
    </div>


	
	<script type="text/javascript"
		src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="/webjars/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript"
		src="/../js/main.js"></script>
	<script type="text/javascript"
		src="/../js/scripts.js"></script>
	
</body>
</html>
